@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,600;0,800;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

html,body{
    width: 100%;
    height: 100%;
}

:root{
    --bg-color: #fcd21c;
    --btn-bg-color: rgb(237, 27, 35);
    --border-black: rgb(28, 28, 28);
    --border-yellow: rgb(252, 210, 28);
    --main-color: rgb(9, 9, 9);
    --btn-color: #ffffff;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

#home_section{
    /* width: 100%; */
    height: 16vh;
    background: url("../Images/online-coaching-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header{
    border: 2px solid var(--btn-color);
    padding: 10px;
    background-color: aqua;
}

.middle{
    width: 90%;
    margin: auto;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 166px;
    font-size: 58px;
    font-weight: bold;
}

nav{
    display: flex;
    gap: 70px;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 20px;
}

nav ul li{
    font-size: 20px;
    font-weight: 600;
    transform: all 0.5s ease;
    padding: 8px 15px;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}

nav ul li:hover{
    background-color: var(--btn-color);
}

nav #login{
    all: unset;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 20px;
    background-color: var(--btn-bg-color);
    color: var(--btn-color);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

nav #login:hover{
    color: var(--btn-bg-color);
    background-color: var(--btn-color);
}

#menu-icon{
    display: none;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}


.banner
{
    width: 100%;
    position: relative;
}

.banner img
{
    width: 100%;
    height: 550px;
}

.banner_content
{
    width: 600px;
    height: 330px;
    position: absolute;
    top: 100px;
    right: 230px;
    color: wheat;
    text-align: center;
    background-color: #4B4B4B;
    opacity: .9;
    border-radius: 7px;
}

.banner_content h1
{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}

.banner_content h3
{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
}

#know_more
{
    width: 130px;
    height:50px;
    margin-left: 240px;
    margin-top: 50px;
    background-color: wheat;
    border-radius: 30px;
    font-size: 17px;
    font-weight: bold;
}

#contact_us
{
    width: 130px;
    height:50px;
    margin-left: 40px;
    background-color: wheat;
    border-radius: 30px;
    font-size: 17px;
    font-weight: bold;
}

