* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url('loginpagebackground.jpg');
    height: 94vh;
    width: 99vw;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
  }
  
  .title{
    font-family: "Righteous";
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 70px;
    margin-bottom: 50px;
  }
  
  .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
  }
  
  .input1 {
    background: transparent;
    border: none;
    outline: 0;
    border-bottom: 2px solid white;
    width: 100%;
    color: white;
  }
  
  input::placeholder {
    color: gray;
  }
  
  .btn {
    width: 350px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 18%;
  }
  
  button {
    margin-top: 38px;
    height: 50px;
    width: 96%;
    border-radius:17px;
    border: none;
    background: #4044ED;
    color: white;
  }
  
  button:hover {
    background: #2f31ca;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }